@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* initialize */
* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* common css */
.hidden {
    display: none;
}

/* weather api */
div#weather {
    position: absolute;
    top: 1%;
    right: 1%;
    color: #fff;
}

/* div.clock-area > h2#clock */
h2#clock {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 200px;
    text-shadow: 2px 2px 30px #fff;
    top: 15%;
}

/* form#login-form */
form#login-form {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
}   
/* form#login-form */
form#todo-form {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60%;
}
    /* form#login-form > input[type=text] */
    form#login-form input[type=text],
    form#todo-form input[type=text] {
        width: 25%;
        height: 50px;
        border: 0;
        outline: none;
        border-bottom: 1px solid #fff;
        box-shadow: 0px 2px 0px #fff;
        background-color: transparent;
        color: #fff;
        font-size: 20pt;
        text-align: center;
    }
    /* form#login-form > input[type=text]::placeholder */
    form#login-form input[type=text]::placeholder,
    form#todo-form input[type=text]::placeholder {
        color: #fff;
        text-align: center;
    }
    /* form#login-form > input[type=text]:focus::placeholder */
    form#login-form input[type=text]:focus::placeholder,
    form#todo-form input[type=text]:focus::placeholder {
        opacity: 0.5;
    }

/* h1#greeting */
h1#greeting {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    color: #fff;
    font-size: 50pt;
}

/* todo list */
ul#todo-list {
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70%;
}
    /* todo list > todo li */
    ul#todo-list li.todo-li {
        display: inline-block;
        background-color: #fff;
        padding: 5px 15px;
        border-radius: 5px;
        margin-left: 10px;
    }
        /* todo list > todo item:hover */
        ul#todo-list li.todo-li:hover {
            cursor: pointer;
        }
    /* todo list > todo item */
    ul#todo-list span.todo-item {
        margin-right: 10px;
        color: black;
        font-size: 10pt;
        font-weight: 600;
    }
    /* todo list > todo item > done... */
    ul#todo-list li.todo-done {
        text-decoration: line-through;
        color: #fff;
        background-color: grey;
    }

/* footer */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 10%;
}
    /* footer > quotes */
    #quote {
        animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        -webkit-animation: fadein 1.5s;
        -o-animation: fadein 1.5s;
    }
        /* footer > quotes > span */
        #quote span {
            background-color: #fff;
            padding: 5px 15px;
            border-radius: 5px;
        }
        #quote span:first-child {
            font-size: 14pt;
            font-weight: 600;
        }
        #quote span:first-child:hover {
            cursor: pointer;
        }
        #quote span:last-child {
            font-size: 4pt;
            font-style: italic;
        }

/* Animation */
@keyframes fadein {
    from {
        opacity:0.1;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0.1;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0.1;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0.1;
    }
    to {
        opacity: 1;
    }
}